<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("CDNVN Tube", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Quản Lý Danh Mục", "Index", "CategoryManager", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Quản Lý Phim", "Index", "FilmManager", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Cài đặt", "Index", "Settings", new { area = "Admin" }, null)</li>
                @if (ViewBag.Custom!=null)
                {
                    <li>@ViewBag.Custom</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>