@model CDNVNCMS.Tube.Entities.Film

@{
    ViewBag.Title = "Create";
}

<h2>Tạo Phim Mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">


        @Html.Partial("_formEditFilm", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary" type="submit" value="Tạo phim" /> @Html.ActionLink("Trở lại quản lý", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
<div>
    
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
}
