@model CDNVNCMS.Tube.Entities.Category

<div class="editor-field">
     
    
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CategoryParentId, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("CategoryParentId","Vui lòng chọn danh mục cha")
        @Html.ValidationMessageFor(model => model.CategoryParentId,"", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 form-inline">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        <input type="checkbox" id="checkInput" checked="checked" />
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.SEOName, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 form-inline">
        <span>http://@Request.Url.Host/</span>
        @Html.EditorFor(model => model.SEOName, new {htmlAttributes = new {@class = "form-control"}})
        <span>.html</span>
        @Html.ValidationMessageFor(model => model.SEOName, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MetaKeyword, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.MetaKeyword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MetaKeyword, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MetaDescription, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10 checkbox">
        @Html.CheckBoxFor(model => model.Published, new { @class = "form-control", data_onstyle = "success", data_toggle = "toggle" })
        @Html.ValidationMessageFor(model => model.Published, "", new {@class = "text-danger"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
    </div>
</div>
