@model CDNVNCMS.Tube.Entities.Category

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal">
        @Html.Partial("_formEdit", Model)

        <p>
            <input type="submit" value="Create"/>
        </p>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}
        @section scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                   
                });
            </script>
        }
